.app {
  text-align: center;
  width: 400px;
  background-color: gainsboro;
  margin: 0 auto;
  height: 550px;
}

.route-title {
  min-height: 40px;
  font-size: 1.5em;
  line-height: 2em;
}

.list {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow: scroll;
}
